<h1>LOGIN</h1>

<form action="/api/session/login" method="post">
    <p>Email</p><input type="text" name="email">
    <p>Password</p> <input type="text" name="password">

    <button type="submit">LOGIN</button>
    <br>
    <a href="/register">Register</a>
</form>