<H1>REGISTER</H1>

<form action="/api/session/register" method="post">

    <p>Fisrt name: </p><input type="text" name="first_name">
    <p>Last name: </p><input type="text" name="last_name">
    <p>Age: </p><input type="number" name="age">
    <p>Email</p><input type="email" name="email">
    <p>Password: </p><input type="password" name="password">
    <button type="submit">SEND</button>
</form>